@tailwind base;
@tailwind components;
@tailwind utilities;

/* variables */
:root {
  --container-background: #faebf4;
}

body {
  background-color: var(--main-color);
}

/* base styles */
body {
  background: #d894bf;
  @apply text-gray-500 m-8;
}

.menu-container {
  background: var(--container-background);
  border-radius: 6px;
  padding: 20px;
}

/* nav styles */
nav {
  @apply pb-4
    border-b-2 border-gray-200
    flex items-center gap-5
    my-10 mx-auto;
}
nav a,
nav span {
  @apply text-gray-500;
}
nav a:hover {
  @apply text-black;
}
main nav {
  @apply border-0;
}
