@tailwind base;
@tailwind components;
@tailwind utilities;

/* base styles */
body {
  background: #d894bf;
  @apply text-gray-500 m-8;
}

.menu-container {
  background: #faebf4;
  border-radius: 6px;
  padding: 20px;
}
