@tailwind base;
@tailwind components;
@tailwind utilities;

/* variables */
:root {
  --container-background: #faebf4;
}

body {
  background-color: var(--main-color);
}

/* base styles */
body {
  background: #d894bf;
  @apply text-gray-500 m-8;
}

/* nav styles */
nav {
  @apply pb-4
    border-b-2 border-gray-200
    flex items-center gap-5
    my-10 mx-auto;
}
nav a,
nav span {
  @apply text-gray-500;
}
nav a:hover {
  @apply text-black;
}
main nav {
  @apply border-0;
}

/* Container styles */

.flex-col-w-gap {
  @apply flex flex-col items-center justify-center gap-10;
}

.menu-container {
  background: var(--container-background);
  @apply rounded p-20;
}

.form-container {
  @apply rounded p-20 bg-slate-300;
}

/* Buttons */

/* .btn {
  @apply font-bold py-2 px-4 rounded;
}
.btn {
  @apply bg-blue-500 text-white;
}
.btn-primary:hover {
  @apply bg-blue-700;
} */
